---
const { title, description } = Astro.props
import poppins100 from "@fontsource/poppins/files/poppins-devanagari-100-normal.woff2";
import poppins200 from "@fontsource/poppins/files/poppins-devanagari-200-normal.woff2";
import poppins300 from "@fontsource/poppins/files/poppins-devanagari-300-normal.woff2";
import poppins400 from "@fontsource/poppins/files/poppins-devanagari-400-normal.woff2";
import poppins500 from "@fontsource/poppins/files/poppins-devanagari-500-normal.woff2";
import poppins600 from "@fontsource/poppins/files/poppins-devanagari-600-normal.woff2";
import poppins700 from "@fontsource/poppins/files/poppins-devanagari-700-normal.woff2";
import poppins800 from "@fontsource/poppins/files/poppins-devanagari-800-normal.woff2";
import poppins900 from "@fontsource/poppins/files/poppins-devanagari-900-normal.woff2";
import dmserif from "@fontsource/dm-serif-text/files/dm-serif-text-latin-400-normal.woff2";

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/x-icon" href="/favicon-light.svg"> -->
<meta name="generator" content={Astro.generator} />

<!-- <link rel="preload" href={poppins100} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins200} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins300} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins400} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins500} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins600} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins700} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins800} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={poppins900} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={dmserif} as="font" type="font/woff2" crossorigin/> -->

<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

